<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> UMD-CMSC451 Algorithm Visualizer </title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <script src="js/graph.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <div class="container" ng-app="AlgoSim" ng-controller="GraphController">
      <svg ng-attr-width="{{width}}"
           ng-attr-height="{{height}}" ng-click="addNewNode(); $event.stopPropagation();">
        <line   ng-repeat="link in links"
                class="link"
                ng-drag-start
                ng-attr-stroke-width="{{link.strokeWidth}}"
                ng-attr-x1="{{link.source.x}}"
                ng-attr-y1="{{link.source.y}}"
                ng-attr-x2="{{link.target.x}}"
                ng-attr-y2="{{link.target.y}}">
        </line>
        <g ng-repeat="node in nodes" ng-attr-transform="translate({{node.x}},{{node.y}})">
          <circle
                class="node"
                r="7"
                ng-attr-fill="{{colorOfNodes}}">
          </circle>
          <text class="nodename" fill="red" width="7" height="7"
              text-anchor="middle" alignment-baseline="middle">
          {{ node.name }}</text>
        </g>
      </svg>
    </div>
  </body>
</html>
